[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]
better-exceptions = "*"

[requires]
python_version = "3.5"

[packages]
pandas = "*"
numpy = "*"
tensorflow-gpu = "==1.4.0"
pydot = "*"
keras = "==2.0.8"
pillow = "*"
matplotlib = "*"
sklearn = "*"
